<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/icon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg header my-3 rounded">
        <a class="navbar-brand" href="#">
            <img src="/static/img/icon.png" width=64 height=64>
            ArtShare
        </a>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav ml-auto">
                {% if not is_auth %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><button type='button' class="btn btn-info">Войти</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register"><button type='button' class="btn btn-info">Регистрация</button></a>
                </li>
                {% else %}
                <li class="dropdown profile-menu"></li>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user['nickname'] }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" type="button" href="/profile/{{ user['id'] }}">Профиль</a>
                        <a class="dropdown-item" type="button" href="/edit_profile">Редактировать</a>
                        <a class="dropdown-item" type="button" href="/logout">Выйти</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main">
    {% block content %}{% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>