{% extends "base.html" %}


{% block content %}
    <div class="right-block rounded">
        <ul class="list-group">
            <li class="list-group-item btn btn-outline-secondary" onclick="show_all()">Лента</li>
            {% if is_auth %}
            <li class="list-group-item btn btn-outline-secondary" onclick="show_subscribe({{ user['id'] }})">Подписки</li>
            {% endif %}
            <li class="list-group-item">
                <select id="category" onchange="update_data()" class="custom-select">
                    {% for elem in categories %}
                        <option value="{{elem['id']}}">{{elem['name']}}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
    </div>
    <div id="notes-list" class="content-block">
    </div>
    <script src="/static/js/notes.js"></script>
{% endblock %}